In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
base_site='https://en.wikipedia.org/wiki/List_of_national_capitals_by_population'

In [3]:
r=requests.get(base_site)

In [4]:
html=r.content

In [5]:
soup=BeautifulSoup(html,'lxml')

In [7]:
table=soup.find_all('table')[1]

In [8]:
table.find_all('tr')[0].contents

['\n',
 <th>Rank</th>,
 '\n',
 <th style="width:110pt;">Country/Territory</th>,
 '\n',
 <th>Capital</th>,
 '\n',
 <th>Population</th>,
 '\n',
 <th>Year
 </th>,
 '\n',
 <th>% of<br/>country's<br/>population
 </th>]

In [9]:
capitals=[row.contents[5].text for row in table.find_all('tr')]
capitals

['Capital',
 'Beijing',
 'New Delhi',
 'Tokyo',
 'Kinshasa',
 'Moscow',
 'Jakarta',
 'Seoul',
 'Cairo',
 'Mexico City',
 'London',
 'Dhaka',
 'Lima',
 'Tehran',
 'Bangkok',
 'Hanoi',
 'Riyadh',
 'Hong Kong',
 'Bogotá',
 'Baghdad',
 'Santiago',
 'Singapore',
 'Ankara',
 'Berlin',
 'Damascus',
 'Algiers',
 'Madrid',
 'Pyongyang',
 'Kabul',
 'Nairobi',
 'Addis Ababa',
 'Buenos Aires',
 'Rome',
 'Kyiv',
 'Yaoundé',
 'Taipei',
 'Brasília',
 'Amman',
 'Luanda',
 'Guatemala City',
 'Pretoria',
 'Paris',
 'Tashkent',
 'Baku',
 'Havana',
 'Phnom Penh',
 'Bucharest',
 'Khartoum',
 'Caracas',
 'Brazzaville',
 'Rabat',
 'Manila',
 'Vienna',
 'Budapest',
 'Warsaw',
 'Minsk',
 'Kampala',
 'Accra',
 'Antananarivo',
 'Beirut',
 'Quito (de jure)  Guayaquil (de facto) seat-of-government',
 'Harare',
 'Doha',
 "Sana'a",
 'Conakry',
 'Kuala Lumpur',
 'Montevideo',
 'Lusaka',
 'Bamako',
 'Sofia',
 'Prague',
 'Port-au-Prince',
 'Tripoli',
 'Dublin',
 'Kuwait City',
 'Belgrade',
 'Santo Domingo',
 'Mogadishu',
 'Yerevan',
 'Maputo',
 'Freetown',
 'Tbilisi',
 'Dakar',
 'Nur-Sultan',
 'Islamabad',
 'Monrovia',
 'Ouagadougou',
 'Kathmandu',
 'Stockholm',
 'Ottawa',
 'Jerusalem[44]',
 'Managua',
 'Naypyidaw[46]',
 'Ulaanbaatar',
 'Lilongwe',
 'Amsterdam',
 'Bishkek',
 'Lomé',
 'Panama City',
 'Zagreb',
 'Muscat',
 'Niamey',
 'Chişinău',
 'Copenhagen',
 'Abuja',
 'Tunis',
 'Tirana',
 'Ashgabat',
 "N'Djamena",
 'Tegucigalpa',
 'Bangui',
 'Nouakchott',
 'Kigali',
 'Riga',
 'Washington, D.C.',
 'Kingston',
 'Asmara',
 'Athens',
 'Oslo',
 'Helsinki',
 'Abu Dhabi',
 'Dushanbe',
 'Lisbon',
 'Vilnius',
 'Libreville',
 'San Salvador',
 'Skopje',
 'Asunción',
 'Macau',
 'Djibouti (city)',
 'Yamoussoukro',
 'Bissau',
 'Tallinn',
 'Bratislava',
 'San Juan',
 'Canberra',
 'Sarajevo',
 'Juba',
 'San José',
 'Port Moresby',
 'Vientiane',
 'Dodoma',
 'Ljubljana',
 'Nicosia',
 'Maseru',
 'Sucre',
 'Paramaribo',
 'Windhoek',
 'Nassau',
 'Gaborone',
 'Porto-Novo',
 'Wellington',
 'Prishtina',
 'El Aaiún (claimed)Tifariti (factual)',
 'Tiraspol',
 'Brussels',
 'Port Louis',
 'Podgorica',
 'Manama',
 'Georgetown',
 'Praia',
 'Berne (de facto)',
 'Luxembourg',
 'Sri Jayawardenepura Kotte',
 'Reykjavík',
 'Bridgetown',
 'Malé',
 'Thimphu',
 'Malabo',
 'Nouméa',
 'Suva',
 'Mbabane',
 'Castries',
 'Saipan',
 'Moroni',
 'Honiara',
 'Dili',
 'São Tomé',
 'Pago Pago',
 'Port of Spain',
 'Stepanakert',
 'Willemstad',
 'Gitega',
 'Kingstown',
 'Apia',
 'Port Vila',
 'Monaco',
 'Banjul',
 'Tarawa',
 'Oranjestad',
 'Victoria',
 'Gibraltar',
 'Saint Helier',
 'Bandar Seri Begawan',
 'George Town',
 'Douglas',
 'Papeete',
 'Ramallah (de facto)',
 'Majuro',
 'Andorra la Vella',
 "St. John's",
 'Nukuʻalofa',
 'Tórshavn',
 'St. Peter Port',
 'Belmopan',
 'Nuuk (Godthåb)',
 'Roseau',
 'Basseterre',
 'Mariehamn',
 'Charlotte Amalie',
 'Palikir',
 'Road Town',
 "St. George's",
 'Valletta',
 'Gustavia',
 'Marigot',
 'Saint-Pierre',
 'Avarua',
 'Vaduz',
 'City of San Marino',
 'Funafuti',
 'Cockburn Town',
 'Stanley',
 'Longyearbyen',
 'Flying Fish Cove',
 'Philipsburg',
 'Mata-Utu',
 'The Valley',
 'Yaren (de facto)',
 'Hagåtña',
 'Hamilton',
 'Vatican City (city-state)',
 'Jamestown',
 'Alofi',
 'Atafu',
 'Brades (de facto)Plymouth (de jure)',
 'Ngerulmud',
 'West Island',
 'Adamstown',
 'King Edward Point',
 'Kingston (de facto)']

In [10]:
import pandas as  pd

In [11]:
tables=pd.read_html(base_site)

In [12]:
len(tables)

4

In [13]:
tables[1]

,Rank,Country/Territory,Capital,Population,Year,% ofcountry'spopulation
0,1,China,Beijing,"21,542,000[1]",2010,1.5%
1,2,India,New Delhi,14200004,2011,1.05%
2,3,Japan,Tokyo,"13,929,286[2]",2017,11.03%
3,4,Democratic Republic of the Congo,Kinshasa,"12,691,000[3]",2017,14.9%
4,5,Russia,Moscow,"12,506,468[4]",2011,8.52%
...,...,...,...,...,...,...
235,236,Palau,Ngerulmud,271,NaN,1.87%
236,237,Cocos (Keeling) Islands (Australia),West Island,120,NaN,22.06%
237,238,Pitcairn Islands (UK),Adamstown,50,NaN,100%
238,239,South Georgia and the South Sandwich Islands (UK),King Edward Point,22,NaN,69%
239,240,Norfolk Island (Australia),Kingston (de facto),n/a[98],NaN,NaN

In [14]:
tables[1].columns

Index(['Rank', 'Country/Territory', 'Capital', 'Population', 'Year',
       '% ofcountry'spopulation'],
      dtype='object')

In [17]:
pd.read_html(html,attrs={'class' : 'wikitable sortable'})

[     Rank                                  Country/Territory  \
 0       1                                              China
 1       2                                              India
 2       3                                              Japan
 3       4                   Democratic Republic of the Congo
 4       5                                             Russia
 ..    ...                                                ...
 235   236                                              Palau
 236   237                Cocos (Keeling) Islands (Australia)
 237   238                              Pitcairn Islands (UK)
 238   239  South Georgia and the South Sandwich Islands (UK)
 239   240                         Norfolk Island (Australia)

                  Capital     Population  Year % ofcountry'spopulation
 0                Beijing  21,542,000[1]  2010                    1.5%
 1              New Delhi       14200004  2011                   1.05%
 2                  Tokyo  13,929,286[2]  2017                  11.03%
 3               Kinshasa  12,691,000[3]  2017                   14.9%
 4                 Moscow  12,506,468[4]  2011                   8.52%
 ..                   ...            ...   ...                     ...
 235            Ngerulmud            271   NaN                   1.87%
 236          West Island            120   NaN                  22.06%
 237            Adamstown             50   NaN                    100%
 238    King Edward Point             22   NaN                     69%
 239  Kingston (de facto)        n/a[98]   NaN                     NaN

 [240 rows x 6 columns]]